<a href="https://colab.research.google.com/github/tejvirus0003/mypynb/blob/main/random_forest_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data = pd.read_csv('/content/drive/MyDrive/removed_na_loan.csv')

In [4]:
data.head()

   Unnamed: 0  loan_amnt  term  ...  application_type  mort_acc pub_rec_bankruptcies
0           0     3600.0    36  ...        Individual       1.0                  0.0
1           1    24700.0    36  ...        Individual       4.0                  0.0
2           3    35000.0    60  ...        Individual       1.0                  0.0
3           4    10400.0    60  ...        Individual       6.0                  0.0
4           5    11950.0    36  ...        Individual       0.0                  0.0

[5 rows x 22 columns]

In [5]:
to_make_dummy = [ 'grade' , 'sub_grade' , 'emp_length' , 'home_ownership' , 'verification_status' , 'initial_list_status' , 'application_type']

In [6]:
for i in to_make_dummy :
  enc = pd.get_dummies(data[i] , drop_first=True)
  data = data.join(enc)
  data.drop(i , axis=1 , inplace=True)

In [7]:
data.head()

   Unnamed: 0  loan_amnt  term  ...  Verified  w  Joint App
0           0     3600.0    36  ...         0  1          0
1           1    24700.0    36  ...         0  1          0
2           3    35000.0    60  ...         0  1          0
3           4    10400.0    60  ...         0  1          0
4           5    11950.0    36  ...         0  1          0

[5 rows x 74 columns]

In [8]:
data.head()

   Unnamed: 0  loan_amnt  term  ...  Verified  w  Joint App
0           0     3600.0    36  ...         0  1          0
1           1    24700.0    36  ...         0  1          0
2           3    35000.0    60  ...         0  1          0
3           4    10400.0    60  ...         0  1          0
4           5    11950.0    36  ...         0  1          0

[5 rows x 74 columns]

In [9]:
data.shape

(2024455, 74)

In [10]:
data.loan_status.unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default'], dtype=object)

In [12]:
data = data[ data['loan_status'] != 'Current']

In [13]:
data.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default'], dtype=object)

In [15]:
data['loan_status'][0]

'Fully Paid'

In [16]:
for i in range(len(data)):
  if data['loan_status'][i] == 'Fully Paid':
    data['loan_status'][i] = 1
  else :
    data['loan_status'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: ignored