<a href="https://colab.research.google.com/github/tejvirus0003/mypynb/blob/main/random_forest_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

Problem Statement In the lending industry, investors provide loans to borrowers in exchange for the promise of repayment with interest. If the borrower repays the loan, then the lender profits from the interest. However, if the borrower is unable to repay the loan, then the lender loses money. Therefore, lenders face the problem of predicting the risk of a borrower being unable to repay a loan. Your task is to predict whether a person should be given the loan or not using the publicly available Link to the dataset https://www.kaggle.com/wordsforthewise/lending-club

Perform the pre-processing operations as and when required.
Divide the data into training and testing parts.
Compare the performance of the Random Forest and Decision Trees classifier as to which is the better option to solve the above problem statement.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_csv('/content/drive/MyDrive/accepted_2007_to_2018Q4.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.head()

         id  member_id  ...  settlement_percentage  settlement_term
0  68407277        NaN  ...                    NaN              NaN
1  68355089        NaN  ...                    NaN              NaN
2  68341763        NaN  ...                    NaN              NaN
3  66310712        NaN  ...                    NaN              NaN
4  68476807        NaN  ...                    NaN              NaN

[5 rows x 151 columns]

In [5]:
sup = data.iloc[0,:]

In [6]:
dict(sup.T)

{'acc_now_delinq': 0.0,
 'acc_open_past_24mths': 4.0,
 'addr_state': 'PA',
 'all_util': 34.0,
 'annual_inc': 55000.0,
 'annual_inc_joint': nan,
 'application_type': 'Individual',
 'avg_cur_bal': 20701.0,
 'bc_open_to_buy': 1506.0,
 'bc_util': 37.2,
 'chargeoff_within_12_mths': 0.0,
 'collection_recovery_fee': 0.0,
 'collections_12_mths_ex_med': 0.0,
 'debt_settlement_flag': 'N',
 'debt_settlement_flag_date': nan,
 'deferral_term': nan,
 'delinq_2yrs': 0.0,
 'delinq_amnt': 0.0,
 'desc': nan,
 'disbursement_method': 'Cash',
 'dti': 5.91,
 'dti_joint': nan,
 'earliest_cr_line': 'Aug-2003',
 'emp_length': '10+ years',
 'emp_title': 'leadman',
 'fico_range_high': 679.0,
 'fico_range_low': 675.0,
 'funded_amnt': 3600.0,
 'funded_amnt_inv': 3600.0,
 'grade': 'C',
 'hardship_amount': nan,
 'hardship_dpd': nan,
 'hardship_end_date': nan,
 'hardship_flag': 'N',
 'hardship_last_payment_amount': nan,
 'hardship_length': nan,
 'hardship_loan_status': nan,
 'hardship_payoff_balance_amount': nan,
 'hardship_reason': nan,
 'hardship_start_date': nan,
 'hardship_status': nan,
 'hardship_type': nan,
 'home_ownership': 'MORTGAGE',
 'id': 68407277,
 'il_util': 36.0,
 'initial_list_status': 'w',
 'inq_fi': 3.0,
 'inq_last_12m': 4.0,
 'inq_last_6mths': 1.0,
 'installment': 123.03,
 'int_rate': 13.99,
 'issue_d': 'Dec-2015',
 'last_credit_pull_d': 'Mar-2019',
 'last_fico_range_high': 564.0,
 'last_fico_range_low': 560.0,
 'last_pymnt_amnt': 122.67,
 'last_pymnt_d': 'Jan-2019',
 'loan_amnt': 3600.0,
 'loan_status': 'Fully Paid',
 'max_bal_bc': 722.0,
 'member_id': nan,
 'mo_sin_old_il_acct': 148.0,
 'mo_sin_old_rev_tl_op': 128.0,
 'mo_sin_rcnt_rev_tl_op': 3.0,
 'mo_sin_rcnt_tl': 3.0,
 'mort_acc': 1.0,
 'mths_since_last_delinq': 30.0,
 'mths_since_last_major_derog': 30.0,
 'mths_since_last_record': nan,
 'mths_since_rcnt_il': 21.0,
 'mths_since_recent_bc': 4.0,
 'mths_since_recent_bc_dlq': 69.0,
 'mths_since_recent_inq': 4.0,
 'mths_since_recent_revol_delinq': 69.0,
 'next_pymnt_d': nan,
 'num_accts_ever_120_pd': 2.0,
 'num_actv_bc_tl': 2.0,
 'num_actv_rev_tl': 4.0,
 'num_bc_sats': 2.0,
 'num_bc_tl': 5.0,
 'num_il_tl': 3.0,
 'num_op_rev_tl': 4.0,
 'num_rev_accts': 9.0,
 'num_rev_tl_bal_gt_0': 4.0,
 'num_sats': 7.0,
 'num_tl_120dpd_2m': 0.0,
 'num_tl_30dpd': 0.0,
 'num_tl_90g_dpd_24m': 0.0,
 'num_tl_op_past_12m': 3.0,
 'open_acc': 7.0,
 'open_acc_6m': 2.0,
 'open_act_il': 2.0,
 'open_il_12m': 0.0,
 'open_il_24m': 1.0,
 'open_rv_12m': 3.0,
 'open_rv_24m': 3.0,
 'orig_projected_additional_accrued_interest': nan,
 'out_prncp': 0.0,
 'out_prncp_inv': 0.0,
 'payment_plan_start_date': nan,
 'pct_tl_nvr_dlq': 76.9,
 'percent_bc_gt_75': 0.0,
 'policy_code': 1.0,
 'pub_rec': 0.0,
 'pub_rec_bankruptcies': 0.0,
 'purpose': 'debt_consolidation',
 'pymnt_plan': 'n',
 'recoveries': 0.0,
 'revol_bal': 2765.0,
 'revol_bal_joint': nan,
 'revol_util': 29.7,
 'sec_app_chargeoff_within_12_mths': nan,
 'sec_app_collections_12_mths_ex_med': nan,
 'sec_app_earliest_cr_line': nan,
 'sec_app_fico_range_high': nan,
 'sec_app_fico_range_low': nan,
 'sec_app_inq_last_6mths': nan,
 'sec_app_mort_acc': nan,
 'sec_app_mths_since_last_major_derog': nan,
 'sec_app_num_rev_accts': nan,
 'sec_app_open_acc': nan,
 'sec_app_open_act_il': nan,
 'sec_app_revol_util': nan,
 'settlement_amount': nan,
 'settlement_date': nan,
 'settlement_percentage': nan,
 'settlement_status': nan,
 'settlement_term': nan,
 'sub_grade': 'C4',
 'tax_liens': 0.0,
 'term': ' 36 months',
 'title': 'Debt consolidation',
 'tot_coll_amt': 722.0,
 'tot_cur_bal': 144904.0,
 'tot_hi_cred_lim': 178050.0,
 'total_acc': 13.0,
 'total_bal_ex_mort': 7746.0,
 'total_bal_il': 4981.0,
 'total_bc_limit': 2400.0,
 'total_cu_tl': 1.0,
 'total_il_high_credit_limit': 13734.0,
 'total_pymnt': 4421.7239168000015,
 'total_pymnt_inv': 4421.72,
 'total_rec_int': 821.72,
 'total_rec_late_fee': 0.0,
 'total_rec_prncp': 3600.0,
 'total_rev_hi_lim': 9300.0,
 'url': 'https://lendingclub.com/browse/loanDetail.action?loan_id=68407277',
 'verification_status': 'Not Verified',
 'verification_status_joint': nan,
 'zip_code': '190xx'}

In [7]:
hi = dict(data.isnull().sum())

In [8]:
hi

{'acc_now_delinq': 62,
 'acc_open_past_24mths': 50063,
 'addr_state': 33,
 'all_util': 866381,
 'annual_inc': 37,
 'annual_inc_joint': 2139991,
 'application_type': 33,
 'avg_cur_bal': 70379,
 'bc_open_to_buy': 74968,
 'bc_util': 76104,
 'chargeoff_within_12_mths': 178,
 'collection_recovery_fee': 33,
 'collections_12_mths_ex_med': 178,
 'debt_settlement_flag': 33,
 'debt_settlement_flag_date': 2226455,
 'deferral_term': 2249784,
 'delinq_2yrs': 62,
 'delinq_amnt': 62,
 'desc': 2134634,
 'disbursement_method': 33,
 'dti': 1744,
 'dti_joint': 2139995,
 'earliest_cr_line': 62,
 'emp_length': 146940,
 'emp_title': 167002,
 'fico_range_high': 33,
 'fico_range_low': 33,
 'funded_amnt': 33,
 'funded_amnt_inv': 33,
 'grade': 33,
 'hardship_amount': 2249784,
 'hardship_dpd': 2249784,
 'hardship_end_date': 2249784,
 'hardship_flag': 33,
 'hardship_last_payment_amount': 2249784,
 'hardship_length': 2249784,
 'hardship_loan_status': 2249784,
 'hardship_payoff_balance_amount': 2249784,
 'hardship_reason': 2249784,
 'hardship_start_date': 2249784,
 'hardship_status': 2249784,
 'hardship_type': 2249784,
 'home_ownership': 33,
 'id': 0,
 'il_util': 1068883,
 'initial_list_status': 33,
 'inq_fi': 866162,
 'inq_last_12m': 866163,
 'inq_last_6mths': 63,
 'installment': 33,
 'int_rate': 33,
 'issue_d': 33,
 'last_credit_pull_d': 105,
 'last_fico_range_high': 33,
 'last_fico_range_low': 33,
 'last_pymnt_amnt': 33,
 'last_pymnt_d': 2460,
 'loan_amnt': 33,
 'loan_status': 33,
 'max_bal_bc': 866162,
 'member_id': 2260701,
 'mo_sin_old_il_acct': 139104,
 'mo_sin_old_rev_tl_op': 70310,
 'mo_sin_rcnt_rev_tl_op': 70310,
 'mo_sin_rcnt_tl': 70309,
 'mort_acc': 50063,
 'mths_since_last_delinq': 1158535,
 'mths_since_last_major_derog': 1679926,
 'mths_since_last_record': 1901545,
 'mths_since_rcnt_il': 909957,
 'mths_since_recent_bc': 73445,
 'mths_since_recent_bc_dlq': 1741000,
 'mths_since_recent_inq': 295468,
 'mths_since_recent_revol_delinq': 1520342,
 'next_pymnt_d': 1345343,
 'num_accts_ever_120_pd': 70309,
 'num_actv_bc_tl': 70309,
 'num_actv_rev_tl': 70309,
 'num_bc_sats': 58623,
 'num_bc_tl': 70309,
 'num_il_tl': 70309,
 'num_op_rev_tl': 70309,
 'num_rev_accts': 70310,
 'num_rev_tl_bal_gt_0': 70309,
 'num_sats': 58623,
 'num_tl_120dpd_2m': 153690,
 'num_tl_30dpd': 70309,
 'num_tl_90g_dpd_24m': 70309,
 'num_tl_op_past_12m': 70309,
 'open_acc': 62,
 'open_acc_6m': 866163,
 'open_act_il': 866162,
 'open_il_12m': 866162,
 'open_il_24m': 866162,
 'open_rv_12m': 866162,
 'open_rv_24m': 866162,
 'orig_projected_additional_accrued_interest': 2252050,
 'out_prncp': 33,
 'out_prncp_inv': 33,
 'payment_plan_start_date': 2249784,
 'pct_tl_nvr_dlq': 70464,
 'percent_bc_gt_75': 75412,
 'policy_code': 33,
 'pub_rec': 62,
 'pub_rec_bankruptcies': 1398,
 'purpose': 33,
 'pymnt_plan': 33,
 'recoveries': 33,
 'revol_bal': 33,
 'revol_bal_joint': 2152681,
 'revol_util': 1835,
 'sec_app_chargeoff_within_12_mths': 2152680,
 'sec_app_collections_12_mths_ex_med': 2152680,
 'sec_app_earliest_cr_line': 2152680,
 'sec_app_fico_range_high': 2152680,
 'sec_app_fico_range_low': 2152680,
 'sec_app_inq_last_6mths': 2152680,
 'sec_app_mort_acc': 2152680,
 'sec_app_mths_since_last_major_derog': 2224759,
 'sec_app_num_rev_accts': 2152680,
 'sec_app_open_acc': 2152680,
 'sec_app_open_act_il': 2152680,
 'sec_app_revol_util': 2154517,
 'settlement_amount': 2226455,
 'settlement_date': 2226455,
 'settlement_percentage': 2226455,
 'settlement_status': 2226455,
 'settlement_term': 2226455,
 'sub_grade': 33,
 'tax_liens': 138,
 'term': 33,
 'title': 23358,
 'tot_coll_amt': 70309,
 'tot_cur_bal': 70309,
 'tot_hi_cred_lim': 70309,
 'total_acc': 62,
 'total_bal_ex_mort': 50063,
 'total_bal_il': 866162,
 'total_bc_limit': 50063,
 'total_cu_tl': 866163,
 'total_il_high_credit_limit': 70309,
 'total_pymnt': 33,
 'total_pymnt_inv': 33,
 'total_rec_int': 33,
 'total_rec_late_fee': 33,
 'total_rec_prncp': 33,
 'total_rev_hi_lim': 70309,
 'url': 33,
 'verification_status': 33,
 'verification_status_joint': 2144971,
 'zip_code': 34}

In [9]:
tohave = ['loan_amnt' , 'term' , 'int_rate' , 'installment' , 'grade' , 'sub_grade' , 'emp_title' , 'emp_length' , 'home_ownership' , 'annual_inc' ,'verification_status','issue_d','loan_status','purpose','title' , 'zip_code','addr_state' , 'dti' , 'earliest_cr_line' , 'open_acc' , 'pub_rec' , 'revol_bal','revol_util','total_acc','initial_list_status' , 'application_type' ,'mort_acc' , 'pub_rec_bankruptcies' ]

In [10]:
#0	loan_amnt	The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
#1	term	The number of payments on the loan. Values are in months and can be either 36 or 60.
#2	int_rate	Interest Rate on the loan
#3	installment	The monthly payment owed by the borrower if the loan originates.
#4	grade	LC assigned loan grade
#5	sub_grade	LC assigned loan subgrade
#6	emp_title	The job title supplied by the Borrower when applying for the loan.*
#7	emp_length	Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
#8	home_ownership	The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER
#9	annual_inc	The self-reported annual income provided by the borrower during registration.
#10	verification_status	Indicates if income was verified by LC, not verified, or if the income source was verified
#11	issue_d	The month which the loan was funded
#12	loan_status	Current status of the loan
#13	purpose	A category provided by the borrower for the loan request.
#14	title	The loan title provided by the borrower
#15	zip_code	The first 3 numbers of the zip code provided by the borrower in the loan application.
#16	addr_state	The state provided by the borrower in the loan application
#17	dti	A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
#18	earliest_cr_line	The month the borrower's earliest reported credit line was opened
#19	open_acc	The number of open credit lines in the borrower's credit file.
#20	pub_rec	Number of derogatory public records
#21	revol_bal	Total credit revolving balance
#22	revol_util	Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
#23	total_acc	The total number of credit lines currently in the borrower's credit file
#24	initial_list_status	The initial listing status of the loan. Possible values are – W, F
#25	application_type	Indicates whether the loan is an individual application or a joint application with two co-borrowers
#26	mort_acc	Number of mortgage accounts.
#27	pub_rec_bankruptcies	Number of public record

In [11]:
to_remove = []
for i in data.columns :
    if i not in tohave :
        to_remove.append(i)

In [12]:
data.drop(to_remove , axis=1 , inplace=True)

In [13]:
data.head()

   loan_amnt        term  ...  mort_acc  pub_rec_bankruptcies
0     3600.0   36 months  ...       1.0                   0.0
1    24700.0   36 months  ...       4.0                   0.0
2    20000.0   60 months  ...       5.0                   0.0
3    35000.0   60 months  ...       1.0                   0.0
4    10400.0   60 months  ...       6.0                   0.0

[5 rows x 28 columns]

In [14]:
data.isnull().sum()

loan_amnt                   33
term                        33
int_rate                    33
installment                 33
grade                       33
sub_grade                   33
emp_title               167002
emp_length              146940
home_ownership              33
annual_inc                  37
verification_status         33
issue_d                     33
loan_status                 33
purpose                     33
title                    23358
zip_code                    34
addr_state                  33
dti                       1744
earliest_cr_line            62
open_acc                    62
pub_rec                     62
revol_bal                   33
revol_util                1835
total_acc                   62
initial_list_status         33
application_type            33
mort_acc                 50063
pub_rec_bankruptcies      1398
dtype: int64

In [15]:
data.dropna(inplace=True)

In [16]:
data['term'] = data['term'].apply(lambda x : int(x.split()[0]) )

In [17]:
len(data)

2024455

In [18]:
data.head()

   loan_amnt  term  int_rate  ...  application_type mort_acc pub_rec_bankruptcies
0     3600.0    36     13.99  ...        Individual      1.0                  0.0
1    24700.0    36     11.99  ...        Individual      4.0                  0.0
3    35000.0    60     14.85  ...        Individual      1.0                  0.0
4    10400.0    60     22.45  ...        Individual      6.0                  0.0
5    11950.0    36     13.44  ...        Individual      0.0                  0.0

[5 rows x 28 columns]

In [19]:
data.dtypes

loan_amnt               float64
term                      int64
int_rate                float64
installment             float64
grade                    object
sub_grade                object
emp_title                object
emp_length               object
home_ownership           object
annual_inc              float64
verification_status      object
issue_d                  object
loan_status              object
purpose                  object
title                    object
zip_code                 object
addr_state               object
dti                     float64
earliest_cr_line         object
open_acc                float64
pub_rec                 float64
revol_bal               float64
revol_util              float64
total_acc               float64
initial_list_status      object
application_type         object
mort_acc                float64
pub_rec_bankruptcies    float64
dtype: object

In [20]:
enc1 = pd.get_dummies(data['grade'] , drop_first=True)

In [21]:
data.join(enc1)

         loan_amnt  term  int_rate  installment grade  ...  C  D  E  F  G
0           3600.0    36     13.99       123.03     C  ...  1  0  0  0  0
1          24700.0    36     11.99       820.28     C  ...  1  0  0  0  0
3          35000.0    60     14.85       829.90     C  ...  1  0  0  0  0
4          10400.0    60     22.45       289.91     F  ...  0  0  0  1  0
5          11950.0    36     13.44       405.18     C  ...  1  0  0  0  0
...            ...   ...       ...          ...   ...  ... .. .. .. .. ..
2260692    16000.0    60     12.79       362.34     C  ...  1  0  0  0  0
2260693    24000.0    60     10.49       515.74     B  ...  0  0  0  0  0
2260694    24000.0    60     12.79       543.50     C  ...  1  0  0  0  0
2260695    24000.0    60     10.49       515.74     B  ...  0  0  0  0  0
2260697    24000.0    60     14.49       564.56     C  ...  1  0  0  0  0

[2024455 rows x 34 columns]

In [22]:
for i in data.columns.to_list() :
  print(i , len(data[i].unique()))

loan_amnt 1561
term 2
int_rate 366
installment 89643
grade 7
sub_grade 35
emp_title 481881
emp_length 11
home_ownership 6
annual_inc 76388
verification_status 3
issue_d 82
loan_status 7
purpose 14
title 41395
zip_code 952
addr_state 51
dti 9334
earliest_cr_line 734
open_acc 90
pub_rec 42
revol_bal 99377
revol_util 1328
total_acc 150
initial_list_status 2
application_type 2
mort_acc 47
pub_rec_bankruptcies 12

In [23]:
to_make_dummy = [ 'grade' , 'sub_grade' , 'emp_length' , 'home_ownership' , 'verification_status' , 'loan_status' , 'initial_list_status' , 'application_type']
to_drop = ['emp_title' , 'issue_d' , 'purpose' ,'title' , 'zip_code' ,'addr_state' , 'earliest_cr_line' ]

In [24]:
data['emp_length'].unique()

array(['10+ years', '3 years', '4 years', '6 years', '1 year', '7 years',
       '8 years', '5 years', '2 years', '9 years', '< 1 year'],
      dtype=object)

In [25]:
data.drop(to_drop , axis=1 , inplace=True)

In [26]:
data.head()

   loan_amnt  term  int_rate  ...  application_type mort_acc pub_rec_bankruptcies
0     3600.0    36     13.99  ...        Individual      1.0                  0.0
1    24700.0    36     11.99  ...        Individual      4.0                  0.0
3    35000.0    60     14.85  ...        Individual      1.0                  0.0
4    10400.0    60     22.45  ...        Individual      6.0                  0.0
5    11950.0    36     13.44  ...        Individual      0.0                  0.0

[5 rows x 21 columns]

In [27]:
data.to_csv('removed_na_loan.csv')