In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data = pd.read_csv('/content/drive/MyDrive/removed_na_loan.csv')

In [4]:
data.head()

   Unnamed: 0  loan_amnt  term  ...  application_type  mort_acc pub_rec_bankruptcies
0           0     3600.0    36  ...        Individual       1.0                  0.0
1           1    24700.0    36  ...        Individual       4.0                  0.0
2           3    35000.0    60  ...        Individual       1.0                  0.0
3           4    10400.0    60  ...        Individual       6.0                  0.0
4           5    11950.0    36  ...        Individual       0.0                  0.0

[5 rows x 22 columns]

In [5]:
to_make_dummy = [ 'grade' , 'sub_grade' , 'emp_length' , 'home_ownership' , 'verification_status' , 'initial_list_status' , 'application_type']

In [6]:
for i in to_make_dummy :
  enc = pd.get_dummies(data[i] , drop_first=True)
  data = data.join(enc)
  data.drop(i , axis=1 , inplace=True)

In [7]:
data.head()

   Unnamed: 0  loan_amnt  term  ...  Verified  w  Joint App
0           0     3600.0    36  ...         0  1          0
1           1    24700.0    36  ...         0  1          0
2           3    35000.0    60  ...         0  1          0
3           4    10400.0    60  ...         0  1          0
4           5    11950.0    36  ...         0  1          0

[5 rows x 74 columns]

In [8]:
data.head()

   Unnamed: 0  loan_amnt  term  ...  Verified  w  Joint App
0           0     3600.0    36  ...         0  1          0
1           1    24700.0    36  ...         0  1          0
2           3    35000.0    60  ...         0  1          0
3           4    10400.0    60  ...         0  1          0
4           5    11950.0    36  ...         0  1          0

[5 rows x 74 columns]

In [9]:
data.shape

(2024455, 74)

In [10]:
data.loan_status.unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default'], dtype=object)

In [11]:
data = data[ data['loan_status'] != 'Current']

In [12]:
data.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default'], dtype=object)

In [13]:
data = data.loc[data['loan_status'].isin(['Fully Paid','Default']) ]

In [14]:
data['loan_status'].unique()

array(['Fully Paid', 'Default'], dtype=object)

In [15]:
data.shape

(964088, 74)

In [16]:
hi = pd.get_dummies(data['loan_status']  , drop_first=True , columns=['Target'] )

In [17]:
data = data.join(hi)

In [18]:
data.head()

   Unnamed: 0  loan_amnt  term  int_rate  ...  Verified  w Joint App  Fully Paid
0           0     3600.0    36     13.99  ...         0  1         0           1
1           1    24700.0    36     11.99  ...         0  1         0           1
3           4    10400.0    60     22.45  ...         0  1         0           1
4           5    11950.0    36     13.44  ...         0  1         0           1
5           6    20000.0    36      9.17  ...         0  0         0           1

[5 rows x 75 columns]

In [19]:
to_drop = ['loan_status' , 'Unnamed: 0']

In [20]:
data.drop(to_drop , inplace=True , axis=1)

In [21]:
data.head()

   loan_amnt  term  int_rate  installment  ...  Verified  w  Joint App  Fully Paid
0     3600.0    36     13.99       123.03  ...         0  1          0           1
1    24700.0    36     11.99       820.28  ...         0  1          0           1
3    10400.0    60     22.45       289.91  ...         0  1          0           1
4    11950.0    36     13.44       405.18  ...         0  1          0           1
5    20000.0    36      9.17       637.58  ...         0  0          0           1

[5 rows x 73 columns]

In [22]:
data.reset_index()

          index  loan_amnt  term  int_rate  ...  Verified  w  Joint App  Fully Paid
0             0     3600.0    36     13.99  ...         0  1          0           1
1             1    24700.0    36     11.99  ...         0  1          0           1
2             3    10400.0    60     22.45  ...         0  1          0           1
3             4    11950.0    36     13.44  ...         0  1          0           1
4             5    20000.0    36      9.17  ...         0  0          0           1
...         ...        ...   ...       ...  ...       ... ..        ...         ...
964083  2024441    40000.0    60     15.59  ...         1  0          0           1
964084  2024444    15000.0    36     10.49  ...         0  0          0           1
964085  2024445    23800.0    60     14.49  ...         0  0          0           1
964086  2024448    29400.0    60     13.99  ...         0  0          0           1
964087  2024450    16000.0    60     12.79  ...         0  0          0           1

[964088 rows x 74 columns]

In [23]:
data.shape

(964088, 73)

In [24]:
X = data.drop('Fully Paid' , axis=1)

In [25]:
Y = data[['Fully Paid']]

In [26]:
X.shape

(964088, 72)

In [27]:
from sklearn.decomposition import PCA

In [28]:
hi = PCA(n_components=10)

In [29]:
X_ = hi.fit_transform(X)

In [30]:
X_red = pd.DataFrame(X_)

In [31]:
X_red.head()

               0             1             2  ...          7         8         9
0  -26255.556001 -12312.442284   8572.361999  ...  -2.574124 -0.089848  2.535591
1  -13557.109681   7288.115742 -10139.466744  ...  -0.597002 -4.558279 -0.125249
2   25130.849866   2013.142365   5201.481576  ... -18.331007  4.041017 -2.714480
3  -46173.415556  -3196.553993    346.356048  ...   0.473570 -0.830179  0.571816
4  107419.158229  59529.969855   4694.992457  ...   3.632027  0.805230 -0.987479

[5 rows x 10 columns]

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train , X_test , Y_train , Y_test = train_test_split(X_red , Y , test_size = 0.30)

In [34]:
X_test.shape , X_train.shape

((289227, 10), (674861, 10))

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
model1 = RandomForestClassifier()

In [37]:
model1.fit(X_train , Y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [38]:
model1.score(X_test , Y_test)

0.9999619675894712

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [40]:
model2 = DecisionTreeClassifier()

There are models that are independent of the feature scale. For example, tree-based algorithms (decision trees and random forests) are not affected. A node of a tree partitions your data into 2 sets by comparing a feature (which splits dataset best) to a threshold value. There's no regularization for the threshold (because one should keep height of the tree small), so it's not affected by different scales.

In [41]:
model2.fit(X_train , Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [42]:
model2.score(X_test , Y_test)

0.9999515951138725